
/* layout */
@media (max-width: 768px) {
  .list {
    display: none;
  }
}

/* GitHub mark */
.githubMark {
  background-color: #fff;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 50%;
  transition: transform .3s;
}
.githubMark:hover {
  transform: scale(1.1);
}

/* Back to top */
.backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
  padding: 10px;
  z-index: 100;
  width: 50px;
  height: 50px;
}
.backToTop img {
  width: 30px;
  height: 30px;
}

/* Header */
.headerContainer {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}
.headerContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/api/random-image");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  transform: scale(1.1);
  z-index: 0;
}
.title {
  margin: 0;
  padding: 30px 50px;
  color: #fff;
  font-size: 2.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  position: relative;
  z-index: 1;
}